  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- bundle:metadata -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://avatars.githubusercontent.com" />
    <link
      rel="preconnect"
      href="https://github-repository-language-graph-wi.vercel.app"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400;0,14..32,500;0,14..32,600;0,14..32,700;0,14..32,800;0,14..32,900&display=swap"
    />
    <!-- bundle:styles -->
    <link rel="icon" type="image/svg+xml" href="/logo.svg" />
    <!-- bundle:state-data -->
    <!-- bundle:script -->
  </head>
