@media (min-width: 640px) {
    .sm\:inset-5 {
        inset: var(--space-5);
    }
    .sm\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .sm\:flex-row {
        flex-direction: row;
    }
    .sm\:p-5 {
        padding: var(--space-5);
    }
}
@media (min-width: 768px) {
    .md\:gap-12 {
        gap: var(--space-12);
    }
}
@media (min-width: 1024px) {
    .lg\:col-span-2 {
        grid-column: span 2 / span 2;
    }
    .lg\:col-start-2 {
        grid-column-start: 2;
    }
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .lg\:grid-cols-6 {
        grid-template-columns: repeat(6, minmax(0, 1fr));
    }
    .lg\:text-6xl {
        font-size: var(--font-size-6xl);
        line-height: 1;
    }
    .lg\:text-lg {
        font-size: var(--font-size-lg);
        line-height: var(--space-7);
    }
}
